<label for="title">Title:</label>
<input type="text" name="tasks[title]" id="title" value="lewagon">
<input type="text" name="tasks[details]" id="details" value="28 days to go">
<input type="checkbox" name="check-box" id="checkbox" value="checked or not">
<input type="submit">
